body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}
.jumbotron h1 {
  text-transform: uppercase;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}
@media screen and (min-width: 48em) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 2rem;
  }
  .jumbotron {
    border-bottom: 0;
  }
}
.tartalom {
  background-color: #e5e5e5;
  padding: 15px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
#helyi {
  padding-bottom: 10px;
}
.card-img-top {
  padding: 10px;
}
.card-deck {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #map {
    display: none;
  }
}
#bazsi {
  margin: 5px;
  padding-left: 5px;
}
@media screen and (max-width: 420px) {
  #kucko {
    font-size: 50px;
  }
}
